<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.data_scope.mapper.DeptMapper">

    <select id="getAllDeps" resultType="org.javaboy.data_scope.entity.Dept">
        select * from sys_dept d where d.del_flag='0'
        ${params.data_scope}
    </select>
</mapper>
