<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.data_scope.mapper.UserMapper">

    <select id="getRolesByUid" resultType="org.javaboy.data_scope.entity.Role">
        select sr.* from sys_role sr left join sys_user_role sur on sr.role_id=sur.role_id left join sys_user su on sur.user_id=su.user_id where su.user_id=#{uid}
    </select>
</mapper>
